.user-list {
  padding: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.user-list h2 {
  margin-bottom: 20px;
}

/**UsersInfo.js*/
.user-container {
  display: flex;
  width: 70%;
  height: 5rem;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
}
.users-headline {
  width: 70%;
  height: 4rem;
  background-color: var(--bacground-white);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.user-container p {
  margin-bottom: 8px;
}

.user-details {
  flex-grow: 1;
}

/**UserForm.js*/
.user-form {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  width: 72vh;
}
.user-information-component {
  display: flex;
  margin: 20px 0px;
  align-items: center;
}
.user-information-component div:first-child {
  flex: 1;
}
.user-information-component div {
  flex: 3;
}
.users-form-buttons {
  display: flex;
  justify-content: space-between;
}
.user-tasks-list {
  margin: 20px 0px;
}
.user-tasks-list p {
  text-align: center;
}
