.task-box{
    width:90%;
    height:5rem;
    border:2px solid black;
    display:flex;
    justify-content:space-between;
    align-items:center;
    border-radius: 10px;
    background-color: whitesmoke;
}
.task-box h3{
    padding-left: 1rem;
}
.icon-container{
    width:10%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items:center;
}
.fa-circle-check{
    font-size:2rem;
    color:green;

}
.fa-circle{
    font-size:2rem;
    color:red;
}