.main-client-screen-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}

.client-task-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  overflow-y: auto;
}
.client-task-container > h1 {
  font-size: 1.6rem;
  font-weight: bold;
  display: block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}

.client-user-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}
.client-user-container > h1 {
  font-size: 1.2rem;
  display: block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  margin: 0;
}

.fc-toolbar-chunk {
  margin: 0;
  display: flex;
  gap: 10px;
  padding: 10px;
}
.fc-media-screen {
  width: 90%;
}

@media screen and (max-width: 950px) {
  .fc-header-toolbar {
    flex-direction: column;
  }

  .fc-toolbar-chunk {
    display: block;
    width: 100%;
    text-align: center;
    padding: 5px 0;
  }
}

.upcoming-task {
  background-color: var(--accent);
}

.past-task {
  background-color: rgb(255, 44, 44);
}

.complete-task {
  background-color: rgb(29, 194, 29);
  cursor: default;
}

.current-task {
  background-color: var(--primary-color);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}
