/**Basic page structure*/
.add-edit-tasks-form {
  padding: 3vh;
  height: calc(100vh - 68px); /* 68px is the height of the navbar */
}
.form-data {
  display: flex;
  height: calc(100% - 57.6px); /* 57.6px is the height of the form-buttons */
  padding-bottom: 3vh;
}
.form-buttons {
  display: flex;
  justify-content: center;
}
.col-1 {
  flex: 2;
  padding-right: 1.5vh;
  display: flex;
  flex-direction: column;
}
.col-2 {
  flex: 1;
}
.task {
  margin-bottom: 1.5vh;
}
.subtasks {
  flex: auto;
  display: flex;
  flex-direction: column;
}
.task,
.subtasks,
.col-2 {
  background-color: rgb(230, 230, 230);
  border-radius: 10px;
  padding: 10px;
}

/**Font sizes and margins*/
h2 {
  text-align: center;
  margin-bottom: 0vh;
}
h4 {
  margin: 4px 0px;
}
.form-data p {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 1vh;
}
.form-data hr {
  margin-bottom: 0vh;
}
#assigned-users-paragraph {
  margin-top: 10px;
}

/**Form Input fields*/
form label {
  display: block;
  font-weight: bold;
  font-size: 16px;
}
form input {
  border: 1px solid black;
  border-radius: 25px;
  padding: 5px 10px;
  width: 100%;
  background: transparent;
}
form textarea {
  border: 1px solid black;
  border-radius: 25px;
  padding: 5px;
  resize: none;
  height: 6.5vh;
  width: 100%;
  background: transparent;
  padding-left: 10px;
}
.task-datetime label {
  display: inline-block;
  width: 49%;
}
.task-datetime label:first-child {
  margin-right: 2%;
}

.user-manager-container {
  border: 1px solid black;
  border-radius: 25px;
  padding: 5px 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.material-symbols-outlined:hover {
  cursor: pointer;
}

/** Users */
.assigned-users {
  max-height: 24vh;
  overflow-y: auto;
}

.wta-users {
  max-height: 36vh;
  overflow-y: auto;
}

/** Subtasks */
.subtasks-columns {
  display: flex;
}

.subtasks-col-1,
.subtasks-col-2 {
  flex: 1;
  padding: 10px;
}

.subtasks-scrollable-container {
  max-height: 32.9vh;
  overflow-y: auto;
}

.clickable-subtasks {
  cursor: pointer;
}

/**Buttons*/
.form-buttons button {
  margin-right: 4vh;
}

.add-subtasks-button {
  text-align: center;
  margin-top: auto;
}

#add-subtask-button {
  width: 100%;
  padding: 5px !important;
  font-weight: normal;
  transform: none;
}

/*! Subtask Form */
.subtask-form {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 70vh;
  height: fit-content;
}

.subtask-form-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 1.5vh;
}

.subtask-form-number-fields label {
  display: inline-block;
  width: 49%;
}

.subtask-form-number-fields label:first-child {
  margin-right: 2%;
}
