form {
  padding: 20px 40px;
}

.form-data {
  display: flex;
  height: 70vh;
}

.col-1 {
  flex: 2;
  padding: 10px 20px;
}

.col-2 {
  flex: 1;
  padding: 10px 20px;
}

hr {
  border: 1px solid black;
}

.user-manager-container {
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.material-symbols-outlined:hover {
  cursor: pointer;
}

/* CreateAddEditTasks.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.subtask-form {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
