.main-admin-container {
  height: 100vh;
  width: 100%;
  padding: 4rem;
}
.admin-task-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0.2rem;
  cursor: pointer;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  overflow-y: auto;
}
.admin-task-container > h1 {
  font-size: 1.6rem;
  font-weight: bold;
  display: block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}

.admin-user-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}
.admin-user-container > h1 {
  font-size: 1.2rem;
  display: block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  margin: 0;
}
