.particle {
  position: absolute;
  top: 0;
  left: calc(100% * var(--n));
  width: 2px;
  height: 2px;
  background: white;
  animation: move var(--duration) linear infinite;
}

@keyframes move {
  0% {
    top: -100%;
  }
  100% {
    top: 100%;
  }
}
