body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/**Primary colors*/
:root {
  --primary-color: #0959d3;
  --background-dark: #010409;
  --bacground-white: #bed2f0;
  --color-text: #dce8fa;
  --secondary-color: #0a2143;
  --accent: #e19d37;
}
/*?To use one of the primary colors: background: var(--primary-color);*/

/**Button styling*/
