body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: hidden;
  overflow-x: hidden;
}
h1,
h2,
h3,
p,
span,
ul,
li {
  padding: 0;
  margin: 0;
}

.title-effect {
  font-family: "Caveat";
  color: var(--accent);
}

.reusable-container {
  width: 45%;
  height: 70%;
  background-size: 300% 300%;
  background-image: linear-gradient(
    -45deg,
    var(--primary-color) 3%,
    #30a1e3 25%,
    #46b0eb 40%,
    #46c6eb 60%,
    #05a19a 90%
  );
  -webkit-animation: AnimateBG 10s ease infinite;
  animation: AnimateBG 10s ease infinite;
  border-radius: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
@-webkit-keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.main-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--container-background);
}

/**Primary colors*/
:root {
  --primary-color: #0959d3;
  --background-dark: #010409;
  --background-white: #bed2f0;
  --color-text: #dce8fa;
  --secondary-color: #171819;
  --accent: #e19d37;
}

/*?To use one of the primary colors: background: var(--primary-color);*/

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap");

@layer base {
  html {
    font-family: "Quicksand";
    font-family: "Caveat";
  }
}

.route-div {
  font-family: "Quicksand";
}

/**Custom button styling*/
.custom-button {
  width: 300px;
  color: white;
  padding: 10px 40px;
  text-align: center;
  border-radius: 25px;
  font-weight: bold;
  border: none;
  background: transparent;
  position: relative;
  overflow: hidden;
  z-index: 1;
  font-size: 1.4rem;
  transition: 0.3s ease-in-out;
  background: linear-gradient(
    110deg,
    rgba(193, 79, 13, 1) 26%,
    rgba(212, 118, 48, 1) 54%,
    rgba(225, 157, 55, 1) 87%
  );
}

.custom-button span {
  background: linear-gradient(
    110deg,
    rgba(225, 157, 55, 1) 26%,
    rgba(212, 118, 48, 1) 54%,
    rgba(193, 79, 13, 1) 87%
  );
  height: 100%;
  width: 0;
  border-radius: 22px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  /*to move it behind the text*/
  transition: 0.5s;
}

.custom-button:hover span {
  width: 100%;
}

.custom-button:hover {
  transition: 0.3s ease-in-out;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  transform: scale(1.04);
}

/**Pop-up windows overlay*/
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

/* Fullcalendar Styles */

.fc-button {
  font-size: 1.4rem !important;
  padding: 10px 40px !important;
  background: linear-gradient(
    110deg,
    rgba(225, 157, 55, 1) 26%,
    rgba(212, 118, 48, 1) 54%,
    rgba(193, 79, 13, 1) 87%
  );
  background-size: 200% 200%;
  transition: background-position 0.5s;
}
.fc-button:hover {
  background-position: 100% 0;
}
.fc-button-active {
  background: linear-gradient(
    110deg,
    rgba(193, 79, 13, 1) 26%,
    rgba(212, 118, 48, 1) 54%,
    rgba(225, 157, 55, 1) 87%
  );
  background-size: 200% 200%;
  transition: background-position 0.5s;
}
