.user-image {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  margin: 0px 15px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  font-size: 35px;
  font-weight: 500;
  justify-content: center;
  background-color: var(--accent);
}

/**Only apply style if user initials has more than one letter*/
.user-image-smaller-initials {
  font-size: 30px;
}

/**Only apply style if image component is in navbar*/
.nav-style {
  width: 45px;
  height: 45px;
}

/**Only apply style if image component is in navbar*/
.user-profile-style {
  width: 90px;
  height: 90px;
  font-size: 55px;
}
