.user-image {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  margin: 0px 15px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  font-size: 35px;
  font-weight: 500;
  justify-content: center;
  background-color: lightblue;
}

.user-image-smaller-initials {
  font-size: 30px;
}
