.tasks-list {
  padding: 20px;
  width: fit-content;
  margin: auto;
}

.task-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid black;
  border-radius: 10px;
  width: 800px;
  padding: 20px;
}

.custom-link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/**Button style*/
.add-task-button {
  text-align: center;
}
.custom-button {
  width: 300px;
  padding: 15px 25px;
  text-align: center;
  border-radius: 25px !important;
  font-weight: bold;
  border: 2px solid black;
  background: transparent;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.custom-button span {
  background: black;
  height: 100%;
  width: 0;
  border-radius: 22px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1; /*to move it behind the text*/
  transition: 0.5s;
}
.custom-button:hover span {
  width: 100%;
}
.custom-button:hover {
  color: white;
  transition: 0.5s;
}
